// Custom styles.
body {background: url(/images/back.jpg);background-size: 100% 100%;background-attachment: fixed;}
.content-wrap {width: 900px}
.container .main-inner {width: 1160px}
.footer-inner {width: 1160px}
.header {width: 1160px}